<h1>Editing pilote</h1>

<%= render "form", pilote: @pilote %>

<br>

<div>
  <%= link_to "Show this pilote", @pilote, class: "custom-button" %> |
  <%= link_to "Back to pilotes", pilotes_path, class: "custom-button"  %>
</div>