<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="about-col-1">
    <img src="https://cdn.midjourney.com/36dcff3a-ea72-4801-96df-87445dceae03/0_3.webp">
  </div>
  <div class="about-col-2">
    <h1 class="sub-title">C'est quoi la Formule 1</h1>
    <p>La Formule 1 est la catégorie reine du sport automobile. Elle désigne un type de course de voitures de course monoplaces, qui se déroule sur des circuits spécialement conçus pour cela. Les voitures de Formule 1 sont les plus rapides et les plus technologiquement avancées au monde. Elles sont propulsées par des moteurs puissants qui peuvent atteindre des vitesses allant jusqu'à 360 km/h. Les courses de Formule 1 sont organisées par la Fédération Internationale de l'Automobile (FIA) et se déroulent tout au long de l'année, dans des pays du monde entier. Les pilotes de Formule 1 sont considérés comme les meilleurs du monde, et la course elle-même est suivie par des millions de fans à travers le monde.</p>
  </div>
</div>

<h1>Pilotes</h1>

<div id="pilotes">
  <% @pilotes.each do |pilote| %>
    <%= render pilote %>
    <p>
      <%= link_to "Show this pilote", pilote, class: "custom-button" %>
    </p>
  <% end %>
</div>

<%= link_to "New pilote", new_pilote_path, class: "custom-button" %>