

nav ul li{
   display: inline-block;
   list-style: none;
   margin: 10px 20px;
}

nav ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 25px;
   position: relative;

}

nav ul li a::after{
   content: '';
   width: 3;
   height: 3px;
   background: #580101;
   position: absolute;
   left: 0;
   bottom: -6px;
   transition: 0.5s;
}
nav ul li a:hover::after{
   width: 100%;

}

body {
   text-align: center;
   font-size: 24px;
   background: #000000;
   color: #fff;
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
   color: #007bff; 
   color: #007bff;
}

p {
   margin: 10px 0;
   line-height: 1.5;
   line-height: 1.5;
}

.image{
   display: flex;
   justify-content: center;
   margin: auto;
   width: 200px;
   height: 400px;
   }